<%-include("partials/header.ejs") %>
<body class="container">
    <h2>Welcome to Write-out!</h2>   
    <article>Step into a realm where technology and creativity converge. Whether you’re a seasoned tech enthusiast or simply curious, our blog is your go-to source for a wealth of articles, tips, and insights designed to keep you both informed and inspired.

        In this diverse world of perspectives, there are countless ways to be right and even more ways to be wrong. But staying silent is never the solution. Begin your journey at Write-Out! Share your beliefs and be amazed by the beliefs of others.
    </article>
    
    </section>  
    <p id="write"><a href="/write"> Start writing here...</a></p>

    
</body>
</html>
<%- include('partials/footer.ejs') %>